/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--accent-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--regular-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.section-size {
  width: var(--section-width);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid var(--text-color);
  padding: 128px 0;
  background-color: var(--accent-color);
}

.header__title,
.header__subtitle,
.dialog__text {
  font-family: var(--accent-font);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 40625rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: grid;
  row-gap: 50px;
}

.card {
  border: 2px solid var(--text-color);
  background-color: var(--accent-color);
}

.section__title {
  padding: 5px 0 4px 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--bold-font-weight);
}

.img__container {
  position: relative;
  display: flex;
  margin: 0;
  border: 2px solid var(--text-color);
}

img {
  width: 100%;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  object-fit: cover;
  object-position: center;
}

.label {
  position: absolute;
  top: 26px;
  right: 23px;
  opacity: 50%;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  text-shadow: -1px 0 var(--accent-color), 0 1px var(--accent-color),
    1px 0 var(--accent-color), 0 -1px var(--accent-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--accent-color)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--accent-color);
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.card__icon-button {
  height: 34px;
  margin-top: 2px;
  border: none;
  outline: 2px solid transparent;
  background-color: var(--accent-color);
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
  transition: outline 0.3s ease;
}

.button-decor {
  position: relative;
  border: 2px solid var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button-decor:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.button-decor:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button-decor:hover:after {
  width: 100%;
  background-color: var(--text-color);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 3px;
  margin-right: 25px;
  padding-bottom: 25px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
}

.close__button {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  height: 38px;
  text-transform: uppercase;
}

.floppy {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.floppy__save {
  width: 21px;
  height: 21px;
}

.floppy__dialog {
  width: 39px;
  height: 39px;
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-brightness {
  filter: brightness(150%) hue-rotate(-90deg);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-rotate {
  filter: hue-rotate(60deg);
}

.filter-mix {
  filter: sepia(1) contrast(2) brightness(200%);
}

.section-save {
  display: flex;
  justify-content: center;
  padding-bottom: 103px;
}

.dialog {
  display: grid;
  grid-template-columns: min-content 234px;
  grid-template-rows: min-content min-content;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid var(--text-color);
  padding: 30px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  opacity: 75%;
  background-color: var(--text-color);
}

.dialog__text {
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .section-size {
    width: 100%;
  }

  .header {
    padding: 120px 0;
  }

  .header__title {
    font-size: clamp(2.1875rem, -2.9034rem + 25.4545vw, 3.0625rem);
  }

  .label {
    top: 23px;
    right: 9px;
  }

  .section__title,
  .description {
    max-width: 315px;
  }

  .floppy__save {
    width: 28px;
    height: 28px;
  }

  .save__button {
    flex-direction: column;
  }

  .dialog {
    grid-template-columns: min-content 198px;
    padding: 30px clamp(0.3125rem, -10.9602rem + 56.3636vw, 2.25rem);
  }
}
